.grid {
  max-width: 1400px;
  margin: 0 auto;
  overflow: hidden;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
}

/* almennar stærðir */

.col {
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
}

.col-1 {
  width: 8.333333333%;
}

.offset-col-1 {
  margin-left: 8.333333333%;
}

/* medium—upp að 800px */

/* small—upp að 500px */
